[REDDIT]
subreddit_list = [worldnews,news, USnews, worldpolitics, politics, technology]
vote_threshold = 100
exclude_hosts = []
certfile_path = "resources/certfile.pem"
client_id = eroNotARealClientIDif%42wi
client_secret = ergi#%^NotARealSecret534fgg
username = ExampleUser
password = ExAmPlEPasSwOrD1%